%p#notice= notice

%p
  %b Titulo:
  = @servicio.titulo
%p
  %b Descripcion:
  = @servicio.descripcion
%p
  %b Image:
  = @servicio.image
%p
  %b Slug:
  = @servicio.slug
%p
  %b Categoria:
  = @servicio.categoria_id

