= render 'layouts/html'

%body{id: bodyid, class: bodyclass}
  
  %header#main-header
    .header-top

    .header-inner
      .container
        .region
          .region-inner
            %h1#logo
              = link_to image_tag('logo.png', title: 'Arcomega', alt: 'Arcomega'), root_path, class: 'navbar-brand'
            = render 'layouts/nav_advanced' 


  #content
    = yield

  = javascript_include_tag 'application'
  = yield :javascript
